<div class="open-bets-ctn">
    <div
        class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded open-ctn css-67l5gl">
        <div class="MuiButtonBase-root MuiAccordionSummary-root Mui-expanded MuiAccordionSummary-gutters css-1iji0d4"
            tabindex="0" role="button" aria-expanded="true" aria-controls="panel1a-content">
            <div class="MuiAccordionSummary-content Mui-expanded MuiAccordionSummary-contentGutters css-17o5nyn">
                <p class="MuiTypography-root MuiTypography-body1 css-9l3uo3">Matched Bets (1)</p>
            </div>
            <div class="MuiAccordionSummary-expandIconWrapper Mui-expanded css-1fx8m19"><svg
                    class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv" focusable="false" viewBox="0 0 24 24"
                    aria-hidden="true" data-testid="ExpandMoreIcon">
                    <path d="M16.59 8.59 12 13.17 7.41 8.59 6 10l6 6 6-6z"></path>
                </svg></div>
        </div>
        <div class="MuiCollapse-root MuiCollapse-vertical MuiCollapse-entered css-c4sutr" style="min-height: 0px;">
            <div class="MuiCollapse-wrapper MuiCollapse-vertical css-hboir5">
                <div class="MuiCollapse-wrapperInner MuiCollapse-vertical css-8atqhb">
                    <div id="panel1a-content" role="region" class="MuiAccordion-region">
                        <div class="MuiAccordionDetails-root accordion-detail css-u7qq7e">
                            <div class="MuiTableContainer-root open-bets-tbl css-kge0eu">
                                <table class="MuiTable-root open-table css-1owb465">
                                    <thead class="MuiTableHead-root css-1wbz3t9">
                                        <tr class="MuiTableRow-root css-1gqug66">
                                            <th class="MuiTableCell-root css-13njpue">Market</th>
                                            <th class="MuiTableCell-root css-12pjbv5">Odds</th>
                                            <th class="MuiTableCell-root css-12pjbv5">Stake</th>
                                        </tr>
                                    </thead>
                                    <tbody class="MuiTableBody-root open-bets-table-body css-1xnox0e" *ngFor="let tableColumn of betListData">
                                        <tr class="MuiTableRow-root lay-bet open-bets-table-row css-1gqug66">
                                            <td class="MuiTableCell-root css-1o6fzn1">
                                                <div>MATCH_ODDS - {{tableColumn.event}}</div>
                                            </td>
                                            <td class="MuiTableCell-root css-1thfh4x">{{tableColumn.oddsRequest}}</td>
                                            <td class="MuiTableCell-root css-1thfh4x">{{tableColumn.amountStake}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>