<div class="bl_login_content_main_container">
    <div class="bl_login_inner_content_container">
        <div class="bl_login_content_container">
            <div class="bl_login_form_container">
                <h2 class="heading">Settings</h2>
                <ul>
                    <li class="bl_prom_option_list">
                        <img alt="" class="setting-img" src="../assets/img/user.png">
                        <a [routerLink]="['/account-info']"> Account</a>
                    </li>
                    <li class="bl_prom_option_list">
                        <img alt="" class="setting-img" src="../assets/img/cards.png">
                        <a [routerLink]="['/deposit']"> Credit Details</a>
                    </li>
                    <li class="bl_prom_option_list">
                        <img alt="" class="setting-img" src="../assets/img/notification.png">
                        <a href="javascript:;"> Notifications</a>
                    </li>
                    <li class="bl_prom_option_list">
                        <img alt="" class="setting-img" src="../assets/img/security-lock.png">
                        <a href="javascript:;"> Privacy &amp; Security</a>
                    </li>
                    <li class="bl_prom_option_list">
                        <img alt="" class="setting-img" src="../assets/img//commenting.png">
                        <a href="javascript:;"> Help &amp; Support</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>