<!-- <div class="login" style="background-image: url(../assets/img/login-bg.jpg) ;"> -->
    <div class="login" style="background-color: #AE0000;"></div>
    <div class="login-page">
        <div class="header-top">
            <div class="row">
                <div class="col-sm-12">
                    <div class="login-top"><a class="px-5 d-block py-2"><img src="../assets/img/lotus-logo.png" /></a></div>
                </div>
                <div class="col-sm-12 login-form">
                    <div class="row">
                        <div class="login-bottom">
                            <form class="form-signin" [formGroup]="registerForm" method="post" role="form" name="registerform" (ngSubmit)="registerFormSubmit()">
                                <p class="login-user">
                                    <input type="text" placeholder="User Name" formControlName="username" class="form-control">
                                </p>
                                <p>
                                    <input type="text" placeholder="Full Name" formControlName="fullname" class="form-control">
                                </p>
                                <p>
                                    <input type="text" placeholder="Email" formControlName="email" class="form-control">
                                </p>
                                <p>
                                    <input type="text" placeholder="Phone Number" formControlName="phonenumber" class="form-control">
                                </p>
                                <p>
                                    <input type="password" placeholder="Password" formControlName="password" ng-maxlength="16" class="form-control">
                                </p>
                                <p>
                                    <input type="password" placeholder="Confirm Password" formControlName="confirmpassword" ng-maxlength="16" class="form-control">
                                </p>
                                <p class="login-btn">
                                    <button class="btn btn-lg btn-block btn-login w-100" type="submit">Register</button>
                                </p>
                                <p class="text-center" style="font-size: 20px;">
                                    <small class="text-white small">Already have account?  </small>
                                    <a [routerLink]="['/login']" class="text-white" style="text-decoration: none;">
                                        <u>Login Now</u>
                                    </a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>