<div class="login" style="background-image: url(../assets/img/login-bg.jpg) ;">
    <div class="login-page">
        <div class="header-top">
            <div class="row">
                <div class="col-sm-12">
                    <div class="login-top"><a class="px-5 d-block py-2"><img src="../assets/img/lotus-logo.png" /></a></div>
                </div>
                <div class="col-sm-12 login-form">
                    <div class="row">
                        <div class="login-bottom">
                            <form class="form-signin" name="loginform">
                                <p class="login-user">
                                    <input type="text" placeholder="User Name" class="form-control">
                                </p>
                                <p>
                                    <input type="text" placeholder="Full Name" class="form-control">
                                </p>
                                <p>
                                    <input type="text" placeholder="Email" class="form-control">
                                </p>
                                <p>
                                    <input type="text" placeholder="Phone Number" class="form-control">
                                </p>
                                <p>
                                    <input type="password" placeholder="Password" class="form-control">
                                </p>
                                <p>
                                    <input type="password" placeholder="Confirm Password" class="form-control">
                                </p>
                                <p class="login-btn">
                                    <button class="btn btn-lg btn-block btn-login w-100" type="submit">Register</button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>