<div class="mt-100">
    <div class="left-ctn">
        <div class="live-events-page">
            <div class="MuiPaper-root MuiPaper-elevation custom-accordion css-67l5gl">
                <ngb-accordion #acc="ngbAccordion" activeIds="toggle-1" class="MuiPaper-root right-side-accordion css-67l5gl">
                    <ngb-panel id="toggle-1">
                        <ng-template ngbPanelHeader let-opened="opened">
                            <button class="MuiButtonBase-root css-1iji0d4 w-100 accordion-button rounded-0"
                                ngbPanelToggle>
                                <div class="css-17o5nyn">
                                    <div class="MuiTypography-root title css-90jo3o">
                                        <div><img src="../assets/img/tennis.979b84c7.svg" alt="tennis"> </div>
                                        <div>tennis</div>
                                    </div>
                                </div>
                            </button>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="MuiAccordionDetails-root css-u7qq7e">
                                <div class="events-table-ctn">
                                    <div class="MuiTableContainer-root css-kge0eu">
                                        <table class="MuiTable-root sport-events-tbl css-1owb465">
                                            <thead class="MuiTableHead-root css-1wbz3t9">
                                                <tr class="MuiTableRow-root css-1gqug66">
                                                    <th class="MuiTableCell-root MuiTableCell-head css-13njpue"
                                                        colspan="3">
                                                        <div class="sport-name"><img class="sport-img"> Events</div>
                                                    </th>
                                                    <th class="MuiTableCell-root css-4v91pa">1</th>
                                                    <th class="MuiTableCell-root css-4v91pa">x</th>
                                                    <th class="MuiTableCell-root css-4v91pa">2</th>
                                                </tr>
                                            </thead>
                                            <tbody class="MuiTableBody-root css-1xnox0e">
                                                <tr class="MuiTableRow-root css-1gqug66" [routerLink]="['/fullmarket']">
                                                    <th class="MuiTableCell-root css-1o6fzn1" colspan="2">
                                                        <a class="navlink">
                                                            <div class="event-name"> Kubler v M Ymer</div>
                                                            <div class="date">Aug 31 2022 02:30 AM</div>
                                                        </a>
                                                    </th>
                                                    <td class="MuiTableCell-root css-1o6fzn1">
                                                        <img src="../assets/img/inplay.540d59a5.svg" alt="live">
                                                    </td>
                                                    <td class="MuiTableCell-root MuiTableCell-alignRight css-1thfh4x">
                                                        <div class="exch-odd-view">
                                                            <div class="button-content back">
                                                                <div class="price">1.48</div>
                                                                <div class="size">99.00</div>
                                                            </div>
                                                            <div class="button-content lay">
                                                                <div class="price">1.50</div>
                                                                <div class="size">40.00</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="MuiTableCell-root MuiTableCell-alignRight css-1thfh4x">
                                                        <div class="exch-odd-view">
                                                            <div class="button-content back">
                                                                <div class="price">
                                                                    <img src="../assets/img/Lock.a1925fe3.svg"
                                                                        class="lock-img" alt="lock-img">
                                                                </div>
                                                            </div>
                                                            <div class="button-content lay">
                                                                <div class="price">
                                                                    <img src="../assets/img/Lock.a1925fe3.svg"
                                                                        class="lock-img" alt="lock-img">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="MuiTableCell-root MuiTableCell-alignRight css-1thfh4x">
                                                        <div class="exch-odd-view">
                                                            <div class="button-content back">
                                                                <div class="price">3.00</div>
                                                                <div class="size">20.00</div>
                                                            </div>
                                                            <div class="button-content lay">
                                                                <div class="price">3.05</div>
                                                                <div class="size">6.00</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
    </div>
</div>