<div class="mt-100">
    <div class="bet-list-ctn">
        <div class="header-ctn">
            <div class="title">Bet List</div>
        </div>
        <div class="content-bets-ctn">
            <div class="MuiTableContainer-root css-14s1zt0">
                <table class="table css-lkld8c">
                    <thead class="head css-1wbz3t9">
                        <tr class="MuiTableRow-root css-1gqug66">
                            <th class="MuiTableCell-root web-view css-8coetn">Bet Time</th>
                            <th class="MuiTableCell-root web-view css-8coetn">Sport</th>
                            <th class="MuiTableCell-root css-8coetn">Match</th>
                            <th class="MuiTableCell-root web-view css-8coetn">Market / Runner</th>
                            <th class="MuiTableCell-root css-8coetn">Odds</th>
                            <th class="MuiTableCell-root css-8coetn">Stake</th>
                            <th class="MuiTableCell-root web-view css-8coetn">Currency</th>
                            <th class="MuiTableCell-root css-8coetn">Bet Status</th>
                            <th class="MuiTableCell-root web-view css-8coetn">Result</th>
                            <th class="MuiTableCell-root css-8coetn">Returns</th>
                        </tr>
                    </thead>
                    <tbody class="MuiTableBody-root css-1xnox0e">
                        <tr class="MuiTableRow-root lay-bet open-bets-table-row css-1gqug66">
                            <td class="MuiTableCell-root web-view css-q34dxg">23/08/22 09:55 AM</td>
                            <td class="MuiTableCell-root web-view css-q34dxg">tennis</td>
                            <td class="MuiTableCell-root web-view css-q34dxg">
                                <div class="match-details">
                                    <div class="desc">Adrian Andreev v Ma Rosenkranz</div>
                                    <div class="desc">23/08/22 09:55 AM</div>
                                </div>
                            </td>
                            <td class="MuiTableCell-root css-q34dxg">
                                <div class="web-view"> Match Odds / Adrian Andreev</div>
                                <div class="match-details mob-view">
                                    <div class="desc"><b> Match Odds / Adrian Andreev</b></div>
                                    <div class="desc">Adrian Andreev v Ma Rosenkranz</div>
                                    <div class="desc">23/08/22 09:55 AM</div>
                                </div>
                            </td>
                            <td class="MuiTableCell-root css-q34dxg">1.27</td>
                            <td class="MuiTableCell-root css-q34dxg">
                                <div class="web-view">10000</div>
                                <div class="match-details mob-view">
                                    <div class="desc">10000.00 </div>
                                    <div class="desc">INR</div>
                                </div>
                            </td>
                            <td class="MuiTableCell-root web-view css-q34dxg">INR</td>
                            <td class="MuiTableCell-root css-q34dxg">SETTLED</td>
                            <td class="MuiTableCell-root web-view css-q34dxg">LOST</td>
                            <td class="MuiTableCell-root css-q34dxg"><span class="danger b-text">-2700</span></td>
                        </tr>
                        <tr class="MuiTableRow-root back-bet open-bets-table-row css-1gqug66">
                            <td class="MuiTableCell-root web-view css-q34dxg">22/08/22 11:21 AM</td>
                            <td class="MuiTableCell-root web-view css-q34dxg">tennis</td>
                            <td class="MuiTableCell-root web-view css-q34dxg">
                                <div class="match-details">
                                    <div class="desc">Sorribes Tormo v Ca Osorio</div>
                                    <div class="desc">22/08/22 11:21 AM</div>
                                </div>
                            </td>
                            <td class="MuiTableCell-root css-q34dxg">
                                <div class="web-view"> Match Odds / Camila Osorio</div>
                                <div class="match-details mob-view">
                                    <div class="desc"><b> Match Odds / Camila Osorio</b></div>
                                    <div class="desc">Sorribes Tormo v Ca Osorio</div>
                                    <div class="desc">22/08/22 11:21 AM</div>
                                </div>
                            </td>
                            <td class="MuiTableCell-root css-q34dxg">4.90</td>
                            <td class="MuiTableCell-root css-q34dxg">
                                <div class="web-view">2000</div>
                                <div class="match-details mob-view">
                                    <div class="desc">2000.00 </div>
                                    <div class="desc">INR</div>
                                </div>
                            </td>
                            <td class="MuiTableCell-root web-view css-q34dxg">INR</td>
                            <td class="MuiTableCell-root css-q34dxg">SETTLED</td>
                            <td class="MuiTableCell-root web-view css-q34dxg">LOST</td>
                            <td class="MuiTableCell-root css-q34dxg"><span class="danger b-text">-2000</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>