<div class="sport-tab-header" *ngIf="isLoginUser">
    <div class="MuiTabs-root sports-list css-orq8zk">
        <div class="MuiTabs-scroller css-12qnib" style="margin-bottom: 0px;">
            <div aria-label="scrollable prevent tabs example" class="MuiTabs-flexContainer css-k008qs" role="tablist">
                <div class="tab-ctn">
                    <a class="navlink" [routerLink]="['/inplay']">
                        <button class="inplay-root css-im6ksy" tabindex="-1" type="button" role="tab">
                            <img class="MuiTab-iconWrapper sport-img" alt="live"
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAXCAYAAADz/ZRUAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGTSURBVHgBtVULcYQwEA1n4E5CJCABCUiIBBwcDsABSKgDqIKrg1wVtFWwTeZgeGw2gR7XN8Mks5+3n2yCUgxE1NEDlToIx1G678t9zR7jhha8qYPwHMDXpAwNGPpsc3UQjkNPXBTt5mRkwahUL4LjKlhRF25wBYNOIKh8Z3YGMoK8Bf6aKy1kppkO50AnAutYAb5aWtq/VE+PiYw54RzYjeAYIDhfXzHojNSSItIRj80BJHa+CV03C4fdxmt9zpOd5H2imLkzN1kgt4mTdLHEWNIt092w0JP75tH/YUVo2N+R3C0GdIYld4f9Wa3xOa2XOfhf8a2exyqZE5CdE0H0vMmy7MMtI+jenWyUbFXYzTU3P4cZqbMDfSHIceBKpgsGTrxqFN7bPVcNHxrLdHkwpKzCmjlUSEb8XQ4DW7A3mx2h2NO3OA3glAqOlfWC3ooxaH2na+bkk2tp34/FcP9Jfg1azgLg+RbqRWAdsST9H4Tz1eoghDmoUsZ9tD3PBUe+do/DMBkbdRDQzZESw/pvSAX9BUkPpRIdne0lAAAAAElFTkSuQmCC">Live<span
                                class="MuiTouchRipple-root css-w0pj6f"></span>
                        </button>
                    </a>
                    <ng-container *ngIf="sidebarList">
                        <a class="navlink" *ngFor="let menu of sidebarList" [routerLink]="['/allsport-highlight', menu.id]">
                            <button class="tab-root css-im6ksy" tabindex="-1" type="button" role="tab">
                                <img class="MuiTab-iconWrapper sport-img" src="../assets/img/cricket.35c4e42b.svg" alt="cricket" *ngIf="menu.sportName == 'Cricket'">
                                <img class="MuiTab-iconWrapper sport-img" src="../assets/img/soccer.d9fa837e.svg" alt="soccer" *ngIf="menu.sportName == 'Soccer'">
                                <img class="MuiTab-iconWrapper sport-img" src="../assets/img/tennis.979b84c7.svg" alt="tennis" *ngIf="menu.sportName == 'Tennis'">
                                {{menu.sportName}}
                                <span class="MuiTouchRipple-root css-w0pj6f"></span>
                            </button>
                        </a>
                    </ng-container>
                </div>
                <div class="style-ctn">
                    <span class="css-39nlm1" tabindex="0" role="button">
                        <img class="MuiTab-iconWrapper sport-img" alt="grid" src="../assets/img/grid-view.5f3d0e5a.svg">
                        <span class="MuiTouchRipple-root css-w0pj6f"></span>
                    </span>
                    <span class="css-39nlm1" tabindex="0" role="button">
                        <img class="MuiTab-iconWrapper sport-img" alt="list" src="../assets/img/list-view.0f10a86e.svg">
                        <span class="MuiTouchRipple-root css-w0pj6f"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>