<div class="login" style="background-image: url(../assets/img/login-bg.jpg) ;">
    <div class="login-page">
        <div class="header-top">
            <div class="row">
                <div class="col-sm-12">
                    <div class="login-top"><a class="px-5 d-block py-2"><img src="../assets/img/lotus-logo.png" /></a></div>
                </div>
                <div class="col-sm-12 login-form">
                    <div class="row">
                        <div class="login-bottom">
                            <form class="form-signin" name="loginform">
                                <p class="login-user">
                                    <input maxlength="200" placeholder="Enter User Name" class="form-control">
                                </p>
                                <p>
                                    <input type="password" placeholder="Enter Password" ng-maxlength="16"
                                        class="form-control">
                                </p>
                                <p class="login-btn">
                                    <button class="btn btn-lg btn-block btn-login w-100" tabindex="4" type="submit">Login <i
                                            class="fa fa-sign-in" aria-hidden="true"></i></button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>