<!-- <div class="login" style="background-color: url(../assets/img/login-bg.jpg) ;background-color:#AE0000 ;"> -->
    <div class="login" style="background-color:#AE0000 ;"></div>
    <div class="login-page">
        <div class="header-top">
            <div class="row">
                <div class="col-sm-12">
                    <div class="login-top"><a class="px-5 d-block py-2"><img src="../assets/img/lotus-logo.png" /></a></div>
                </div>
                <div class="col-sm-12 login-form">
                    <div class="row">
                        <div class="login-bottom">
                            <form [formGroup]="loginForm" method="post" role="form" class="form-signin" name="loginform" (ngSubmit)="loginFormSubmit()">
                                <p class="login-user">
                                    <input type="text" maxlength="200" formControlName="username" placeholder="Enter User Name" class="form-control">
                                </p>
                                <p>
                                    <input type="password" formControlName="password" placeholder="Enter Password" ng-maxlength="16"
                                        class="form-control">
                                </p>
                                <p class="login-btn mb-1">
                                    <button class="btn btn-lg btn-block btn-login w-100" tabindex="4" type="submit">Login <i
                                            class="fa fa-sign-in" aria-hidden="true"></i></button>
                                </p>
                                <p class="text-center"><a [routerLink]="['/register']" class="text-white small" style="text-decoration: none; opacity: 0.6 ;"><small>Signup Now</small></a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>