<div class="bl_register_main_container">
    <div class="bl_login_img_main_container">
        <div class="bl_login_img_container"
            style="background-image: url(../assets/img/all-app-background.6d3c0caa74b5d5e6acc0.jpg);"></div>
    </div>
    <div class="bl_register_content_main_container">
        <div class="bl_login_inner_content_container">
            <div class="bl_login_user_main_img_main_container">
                <div class="bl_login_user_img_container"><img src="../assets/img/login-user.png" alt="user login"></div>
            </div>
            <div class="bl_login_content_container">
                <h1 class="bl_register_title">Change Password</h1>
                <div class="bl_register_form_container">
                    <form novalidate="" action="#" class="ng-untouched ng-pristine ng-invalid">
                        <div class="bl_register_input_container">
                            <input type="text" name="username" placeholder="Current Password" required="" class="ng-untouched ng-pristine ng-invalid">
                        </div>
                        <div class="bl_register_input_container">
                            <input type="text" name="mobile" placeholder="New Password" required="" class="ng-untouched ng-pristine ng-invalid">
                        </div>
                        <div class="bl_register_input_container">
                            <input type="email" name="email" placeholder="Confirm Password" required="" class="ng-untouched ng-pristine ng-invalid">
                        </div>
                        <div class="bl_register_input_container">
                            <button class="register_btn login_otp">
                                <a class="register_submit_btn ripple">Submit</a>
                            </button>
                        </div>
                        <div class="bl_forgot_pass_txt">
                            <a [routerLink]="['/login']" class="text-white">Back to Login Page</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>