<div class="slider"><img src="../assets/img/deposit2.jpg" alt=""></div>
<div class="row">
    <div class="col-md-12">
        <div class="bl_deposit_content_main_container">
            <div class="bl_deposit_content_container">
                <div class="bl_payment_amount_container">
                    <p>Enter the deposit amount</p>
                    <div class="bl_payment_input_container">
                        <span>INR</span>
                        <input type="text" class=""><i aria-hidden="true" class="fa fa-pencil"></i>
                    </div>
                    <button type="button" class="btn">₹ 100</button>
                    <button type="button" class="btn">₹ 1000</button>
                    <button type="button" class="btn">₹ 5000</button>
                    <button type="button" class="btn">₹10000</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="bl_promotion_list_main_container">
            <div class="bl_promotion_list_container">
                <div class="bl_ind_promotion_container box">
                    <div class="ribbon ribbon-top-left"><span>Gold Pay</span></div>
                    <div class="bl_ind_prom_content_container">
                        <p class="bl_prom_title_container"><span>UPI</span></p>
                        <p class="bl_prom_heading">Per transaction upto 50,000</p>
                    </div>
                    <div class="bl_ind_img_container">
                        <img alt="" class="bl_prom_image" src="../assets/img/UPI.svg">
                    </div>
                </div>
            </div>
        </div>
        <div class="bl_promotion_list_main_container">
            <div class="bl_promotion_list_container">
                <div class="bl_ind_promotion_container box">
                    <div class="ribbon ribbon-top-left"><span>Gold Pay</span></div>
                    <div class="bl_ind_prom_content_container">
                        <p class="bl_prom_title_container"><span>UPI</span></p>
                        <p class="bl_prom_heading">Per transaction upto 50,000</p>
                    </div>
                    <div class="bl_ind_img_container">
                        <img alt="" class="bl_prom_image" src="../assets/img/UPI.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>