<div class="slider" *ngIf="depaositPaymentPage == false"><img src="../assets/img/deposit2.jpg" alt=""></div>
<div class="row" *ngIf="depaositPaymentPage == false">
    <div class="col-md-12">
        <div class="bl_deposit_content_main_container">
            <div class="bl_deposit_content_container">
                <div class="bl_payment_amount_container">
                    <p>Enter the deposit amount</p>
                    <div class="bl_payment_input_container">
                        <span style="padding-right: 10px;">INR</span>
                        <input type="text" [(ngModel)]="depositAmount" class=""><i aria-hidden="true"
                            class="fa fa-pencil"></i>
                    </div>
                    <button type="button" class="btn" (click)="setAmountData(100)">₹ 100</button>
                    <button type="button" class="btn" (click)="setAmountData(1000)">₹ 1000</button>
                    <button type="button" class="btn" (click)="setAmountData(5000)">₹ 5000</button>
                    <button type="button" class="btn" (click)="setAmountData(10000)">₹10000</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="bl_promotion_list_main_container">
            <div class="bl_promotion_list_container">
                <div class="bl_ind_promotion_container box" (click)="openDepositPaymentPage(true)" style="cursor: pointer;">
                    <div class="ribbon ribbon-top-left"><span>Gold Pay</span></div>
                    <div class="bl_ind_prom_content_container">
                        <p class="bl_prom_title_container"><span>UPI Fast<br>Per transaction upto 50,000</span></p>
                        <!-- <p class="bl_prom_heading">Per transaction upto 50,000</p> -->
                    </div>
                    <div class="bl_ind_img_container">
                        <img alt="" class="bl_prom_image" src="../assets/img/UPI.svg">
                    </div>
                </div>

            </div>
        </div>
        <div><br><br></div>
        <!-- <div class="bl_promotion_list_main_container">
            <div class="bl_promotion_list_container">
                <div class="bl_ind_promotion_container box">
                    <div class="ribbon ribbon-top-left"><span>Gold Pay</span></div>
                    <div class="bl_ind_prom_content_container">
                        <p class="bl_prom_title_container"><span>UPI</span></p>
                        <p class="bl_prom_heading">Per transaction upto 50,000</p>
                    </div>
                    <div class="bl_ind_img_container">
                        <img alt="" class="bl_prom_image" src="../assets/img/UPI.svg">
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>

<form (ngSubmit)="saveDeposit()" *ngIf="depaositPaymentPage == true">
    <div class="diposit-form-sec">
        <div class="diposit-sec">
            <div class="diposit-inner">
                <h1>{{userData?.fullName}}</h1>
                <p>{{userData?.phoneNumber}}</p>
                <span>{{depositAmount}}</span>
            </div>
            <div class="using-sec">
                <p>PAY USING UPI APP</p>
                <div class="upi-app-sec">
                    <h2><span><img src="../assets/img/upi-img.svg" alt=""></span>UPI APP</h2>
                    <p> Google Pay, BHIM, PhonePe & more</p>
                    <div class="payment-img"><img src="../assets/img/pay.png" alt=""></div>
                    <p class="form-p">{{upiData?.upiId}}
                        <a href="javascript:;"><i class="fa fa-clone" aria-hidden="true" ngxClipboard [cbContent]="upiData?.upiId"></i>copy</a>
                    </p>
                </div>

                <div class="submit-sec">
                    <input type="text" placeholder="Enter reference number" name="referenceNum" [(ngModel)]="referenceNum">
                    <input class="submit" type="submit" value="submit">
                </div>

            </div>
        </div>
    </div>
</form>