
<div class="betslip-ctn">
    <div class="body-ctn">
        <div class="bet-body">
            <div class="header-row">
                <div class="event">{{setBetData?.event}}</div>
                <img class="close-icon" 
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFESURBVHgBlVOxdQIxDP1yA2U6KG+DZISwAKGiZIWwAO/sDWAFJuCxQLJBboNAB13ooDlHss9EzpG8Q+/pzpb1v79smfDLvLXPIJqwv/C0iEFf8bxCXTuydqfzSQEf+FfCmDn+s7pe8leIvq4EAUz0xv6ELiaKvB8JiWlCZWdw2DbklmHIuxcs+/O6OB4DgwGwXgOXS4z1esB0CpxOwHaryxkZZrMZ+3AYfTaLQHEZF0WM50om5J37yOT3+xEgKg6HH9LjMao6nzXFzrRqlwRJFEBScxssVhjcMu+j/zVXJgT7LJJqTjsnJelM8o0qw59NFtRgka3LkZvQxt3ZJpCr0zXrMyHKCaS1gxLnlrz4invM+xWV5dw0Exvaszu4ChjEQ0R4GNzbwtoBvErvIGBb69La0p2xPx6b8D6clTEbWizedf43/JGbh7O84BEAAAAASUVORK5CYII=" 
                alt="close"
                (click)="closeWindow()">
            </div>
            <div class="{{setBetData?.betType == 1 ? 'lay' : 'back'}}-bg bet-card">
                <div class="market">Match Odds @ {{setBetData?.selection}} </div>
                <div class="input-row">
                    <div class="input-row-ctn odds-ctn">
                        <div class="row-header">Odds</div>
                        <div class="row-input-odds">
                            <button class="MuiButton-root MuiButtonBase-root odds-btns css-1ujsas3" type="button" (click)="changeBetPrice('minus')">
                                <span class="MuiButton-startIcon MuiButton-iconSizeMedium css-6xugel">
                                    <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv" focusable="false"
                                        viewBox="0 0 24 24" aria-hidden="true" data-testid="RemoveIcon">
                                        <path d="M19 13H5v-2h14v2z"></path>
                                    </svg>
                                </span>
                            </button>
                            <input class="row-input" [(ngModel)]="oddsRequest" (change)="setBidPriceData(amountStake)" readonly type="number" 
                                style="height: 30px; border: 0px; padding: 2px;">
                            <button class="MuiButton-root MuiButtonBase-root odds-btns mr-1 css-1ujsas3" type="button" (click)="changeBetPrice('plus')">
                                <span class="MuiButton-startIcon MuiButton-iconSizeMedium css-6xugel">
                                    <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv" focusable="false"
                                        viewBox="0 0 24 24" aria-hidden="true" data-testid="AddIcon">
                                        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
                                    </svg>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="input-row-ctn">
                        <div class="row-header">{{setBetData?.betType == 0 ? 'Stake' : 'Profit'}}</div>
                        <input class="row-input" type="number" [(ngModel)]="amountStake" (change)="setBidPriceData(amountStake)" inputmode="numeric" style="height: 30px; border: 0px; padding: 2px;">
                    </div>
                </div>
                <div class="clear-row">
                    <span class="text b-text" (click)="setBidPriceData(0)">Clear</span>
                </div>
                <div class="quick-bet" *ngIf="stackLimitList">
                    <ng-container *ngFor="let stackLimit of stackLimitList">
                        <button class="MuiButton-root MuiButtonBase-root qb-btn css-1ujsas3" type="button" (click)="setBidPriceData(stackLimit.stakeLimitPrice)">+{{stackLimit.stakeLimitPrice}}</button>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="bet-footer">
            <div class="stake-section">
                <div class="stake-label">{{setBetData?.betType == 0 ? 'Profit' : 'Liability'}}</div>
                <div class="stake-value">INR. <span class="{{setBetData?.betType == 0 ? 'profit' : 'loss'}}"> {{profitLossPrice |  number : '1.2-2'}}</span>
                </div>
            </div>
            <div class="place-section"><button class="place-btn" [ngClass]="{'disable' : !isUserLogin || !inPlay || amountStake == 0 }"
                [disabled]="!isUserLogin || !inPlay || amountStake == 0" (click)="saveMatchOdds()" style="cursor:pointer;">
                    <div class="label">Place Bet</div>
                </button></div>
        </div>
    </div>
</div>
