<div class="mt-100">
    <div class="market-ctn">
        <div class="left-side-ctn">
            <div class="mob-view MuiBox-root css-0">
                <div class="MuiBox-root css-1gsv261">
                    <div class="MuiTabs-root teb-list css-orq8zk">
                        <div class="MuiTabs-scroller MuiTabs-fixed css-1anid1y"
                            style="overflow: hidden; margin-bottom: 0px;">
                            <div aria-label="lab API tabs example" class="MuiTabs-flexContainer css-k008qs"
                                role="tablist"><button
                                    class="MuiButtonBase-root MuiTab-root MuiTab-textColorPrimary Mui-selected tabs css-1q2h7u5"
                                    tabindex="0" type="button" role="tab" aria-selected="true"
                                    aria-controls="mui-p-465-P-1" id="mui-p-465-T-1">Market<span
                                        class="MuiTouchRipple-root css-w0pj6f"></span></button><button
                                    class="MuiButtonBase-root MuiTab-root MuiTab-textColorPrimary tabs css-1q2h7u5"
                                    tabindex="-1" type="button" role="tab" aria-selected="false"
                                    aria-controls="mui-p-465-P-2" id="mui-p-465-T-2">Open Bets<span
                                        class="MuiTouchRipple-root css-w0pj6f"></span></button><button
                                    class="MuiButtonBase-root MuiTab-root MuiTab-textColorPrimary tabs css-1q2h7u5"
                                    tabindex="-1" type="button" role="tab" aria-selected="false"
                                    aria-controls="mui-p-465-P-3" id="mui-p-465-T-3">Score<span
                                        class="MuiTouchRipple-root css-w0pj6f"></span></button><button
                                    class="MuiButtonBase-root MuiTab-root MuiTab-textColorPrimary tabs css-1q2h7u5"
                                    tabindex="-1" type="button" role="tab" aria-selected="false"
                                    aria-controls="mui-p-465-P-4" id="mui-p-465-T-4">Live Stream<span
                                        class="MuiTouchRipple-root css-w0pj6f"></span></button></div>
                            <span class="MuiTabs-indicator css-ttwr4n" style="left: 0px; width: 0px;"></span>
                        </div>
                    </div>
                </div>
                <div class="MuiTabPanel-root css-19kzrtu" role="tabpanel" aria-labelledby="mui-p-465-T-1"
                    id="mui-p-465-P-1">
                    <div>
                        <div class="matchodds-table-ctn">
                            <div class="matchodds-table-content table-ctn" *ngFor="let matchOdds of matchOddsData">
                                <div
                                    class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiTableContainer-root css-13xy2my">
                                    <table class="MuiTable-root matchodds-table css-1owb465">
                                        <thead class="MuiTableHead-root css-1wbz3t9">
                                            <tr class="MuiTableRow-root MuiTableRow-head css-1gqug66">
                                                <th class="MuiTableCell-root MuiTableCell-head MuiTableCell-sizeMedium css-1bigob2"
                                                    scope="col" colspan="3">
                                                    <div class="market-name-cell-head-ctn">
                                                        <div class="market">
                                                            <img src="../assets/img/inplay.540d59a5.svg"
                                                                alt="inplay">Match Odds
                                                        </div>
                                                        <div class="limit">
                                                            <div class="limit-values">Min :{{matchOdds.min}} <span>
                                                                </span>Max :{{matchOdds.max}}</div>
                                                        </div>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="MuiTableBody-root css-1xnox0e">
                                            <tr class="MuiTableRow-root tbody-header css-1gqug66">
                                                <td
                                                    class="MuiTableCell-root MuiTableCell-body MuiTableCell-alignLeft MuiTableCell-sizeMedium market-name-cell-head css-q34dxg">
                                                    <div class="teamname-odd">Market</div>
                                                </td>
                                                <td
                                                    class="MuiTableCell-root MuiTableCell-body MuiTableCell-alignRight MuiTableCell-sizeMedium odds-cell-head css-1i36psw">
                                                    <div class="back-odd">Back</div>
                                                </td>
                                                <td
                                                    class="MuiTableCell-root MuiTableCell-body MuiTableCell-alignLeft MuiTableCell-sizeMedium odds-cell-head css-q34dxg">
                                                    <div class="lay-odd">Lay</div>
                                                </td>
                                            </tr>
                                            <tr class="MuiTableRow-root css-1gqug66"
                                                *ngFor="let matchOddsPrice of matchOdds.oddsData.runners; let i = index">
                                                <td
                                                    class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium team-name-cell css-q34dxg">
                                                    <div class="team">{{matchOddsPrice.runnerName}}</div>
                                                    <div class="risk-ctn">
                                                        <div></div>
                                                        <div></div>
                                                    </div>
                                                </td>
                                                <td
                                                    class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium odds-cell css-q34dxg">
                                                    <div class="odds-block mob-view">
                                                        <div class="exch-odd-view"
                                                            *ngFor="let backPrice of matchOddsPrice.price.back; let i = index"
                                                            (click)="acc.expand('toggle-1'); setBetPrice(matchOdds.exEventId, matchOdds.eventName, matchOdds.marketId, matchOdds.marketName, matchOddsPrice.runnerName, matchOddsPrice.selectionId, 0, backPrice.price, 0, 0);">
                                                            <div class="back-odd exch-odd-button" *ngIf="i == 0">
                                                                <div class="exch-odd-button-content">
                                                                    <div class="price">{{backPrice.price}}</div>
                                                                    <div class="size">{{ backPrice.size |
                                                                        thousandSuffixes : 2}}</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td
                                                    class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium odds-cell css-q34dxg">
                                                    <div class="odds-block mob-view">
                                                        <div class="exch-odd-view"
                                                            *ngFor="let layPrice of matchOddsPrice.price.lay;  let i = index"
                                                            (click)="acc.expand('toggle-1'); setBetPrice(matchOdds.exEventId, matchOdds.eventName, matchOdds.marketId, matchOdds.marketName, matchOddsPrice.runnerName, matchOddsPrice.selectionId, 1, layPrice.price, 0, 1);">
                                                            <div class="lay-odd exch-odd-button odd-change"
                                                                *ngIf="i == 0">
                                                                <div class="exch-odd-button-content">
                                                                    <div class="price">{{layPrice.price}}</div>
                                                                    <div class="size">{{ layPrice.size |
                                                                        thousandSuffixes : 2}}</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div></div>
                    <div></div>
                </div>
                <div class="MuiTabPanel-root css-19kzrtu" hidden="" role="tabpanel" aria-labelledby="mui-p-465-T-2"
                    id="mui-p-465-P-2"></div>
                <div class="MuiTabPanel-root css-19kzrtu" hidden="" role="tabpanel" aria-labelledby="mui-p-465-T-3"
                    id="mui-p-465-P-3"></div>
                <div class="MuiTabPanel-root css-19kzrtu" hidden="" role="tabpanel" aria-labelledby="mui-p-465-T-4"
                    id="mui-p-465-P-4"></div>
            </div>
            <div class="web-view">
                <div class="matchodds-table-ctn">
                    <div class="matchodds-table-content table-ctn">
                        <div class="MuiPaper-root css-13xy2my" *ngFor="let matchOdds of matchOddsData">
                            <table class="MuiTable-root matchodds-table css-1owb465">
                                <thead class="MuiTableHead-root css-1wbz3t9">
                                    <tr class="MuiTableRow-root MuiTableRow-head css-1gqug66">
                                        <th class="MuiTableCell-root MuiTableCell-head css-1bigob2" scope="col"
                                            colspan="3">
                                            <div class="market-name-cell-head-ctn">
                                                <div class="market">
                                                    <img src="../assets/img/inplay.540d59a5.svg" alt="inplay"
                                                        *ngIf="inPlay==true"> Match Odds
                                                </div>
                                                <div class="limit">
                                                    <div class="limit-values">Min :{{matchOdds.min}} <span> </span>Max
                                                        :{{matchOdds.max}}</div>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="MuiTableBody-root css-1xnox0e">
                                    <tr class="MuiTableRow-root tbody-header css-1gqug66">
                                        <td
                                            class="MuiTableCell-root MuiTableCell-body market-name-cell-head css-q34dxg">
                                            <div class="teamname-odd">Market</div>
                                        </td>
                                        <td class="MuiTableCell-root MuiTableCell-body css-1i36psw">
                                            <div class="back-odd">Back</div>
                                        </td>
                                        <td class="MuiTableCell-root MuiTableCell-body css-q34dxg">
                                            <div class="lay-odd">Lay</div>
                                        </td>
                                    </tr>
                                    <tr class="MuiTableRow-root css-1gqug66"
                                        *ngFor="let matchOddsPrice of matchOdds.oddsData.runners; let i = index">
                                        <td class="MuiTableCell-root MuiTableCell-body css-q34dxg">
                                            <div class="team">{{matchOddsPrice.runnerName}}</div>
                                            <div class="risk-ctn">
                                                <div><span [ngClass]="{'loss' : betType == 1 && matchOddsPrice.selectionId == selectionId, 'profit' : betType == 0 && matchOddsPrice.selectionId == selectionId }" *ngIf="stackValue > 0 &&  oddValue > 0 && matchOddsPrice.selectionId == selectionId">
                                                    <span *ngIf="betType == 0">+{{oddValue | number : '1.2-2'}}</span>
                                                    <span *ngIf="betType == 1">-{{oddValue | number : '1.2-2'}}</span>
                                                </span></div>
                                                <div><span [ngClass]="{'loss' : betType != 1 && matchOddsPrice.selectionId != selectionId, 'profit' : betType != 0 && matchOddsPrice.selectionId != selectionId }" *ngIf="stackValue > 0 &&  oddValue > 0 && matchOddsPrice.selectionId != selectionId">
                                                    <span *ngIf="betType != 0">+{{stackValue}}</span>
                                                    <span *ngIf="betType != 1">-{{stackValue}}</span>
                                                </span></div>
                                            </div>
                                        </td>
                                        <td class="MuiTableCell-root MuiTableCell-body odds-cell css-q34dxg">
                                            <div class="odds-block web-view back-odds-block">
                                                <div class="exch-odd-view"
                                                    *ngFor="let backPrice of matchOddsPrice.price.back"
                                                    (click)="acc.expand('toggle-1'); setBetPrice(matchOdds.exEventId, matchOdds.eventName, matchOdds.marketId, matchOdds.marketName, matchOddsPrice.runnerName, matchOddsPrice.selectionId, 0, backPrice.price, 0, 0);">
                                                    <div class="back-odd exch-odd-button">
                                                        <div class="exch-odd-button-content">
                                                            <div class="price">{{backPrice.price}}</div>
                                                            <div class="size">{{ backPrice.size | thousandSuffixes : 2}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="MuiTableCell-root MuiTableCell-body odds-cell css-q34dxg">
                                            <div class="odds-block web-view">
                                                <div class="exch-odd-view"
                                                    *ngFor="let layPrice of matchOddsPrice.price.lay"
                                                    (click)="acc.expand('toggle-1'); setBetPrice(matchOdds.exEventId, matchOdds.eventName, matchOdds.marketId, matchOdds.marketName, matchOddsPrice.runnerName, matchOddsPrice.selectionId, 1, layPrice.price, 0, 1);">
                                                    <div class="lay-odd exch-odd-button">
                                                        <div class="exch-odd-button-content">
                                                            <div class="price">{{layPrice.price}}</div>
                                                            <div class="size">{{layPrice.size | thousandSuffixes : 2 }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side-ctn">
            <div class="content-ctn">
                <ngb-accordion #acc="ngbAccordion" activeIds="toggle-2"
                    class="MuiPaper-root right-side-accordion css-67l5gl">
                    <ngb-panel id="toggle-1">
                        <ng-template ngbPanelHeader>
                            <button [ngClass]="{'collapsed' : acc.isExpanded('toggle-1') }"
                                class="MuiButtonBase-root right-side-accordion-summary css-1iji0d4 w-100 accordion-button"
                                (click)="closeBetSlipType(openBetBox)">
                                <div class="css-17o5nyn">
                                    <p class="MuiTypography-root MuiTypography-body1 css-1unqu1b">BET SLIP (0)</p>
                                </div>
                            </button>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="MuiCollapse-root css-a0y2e3">
                                <app-bet-slip [stackLimitList]="stackLimitList" [inPlay]="inPlay" [setBetData]="setBetData" [sportId]="sportId" [isUserLogin]="isUserLogin"
                                    (closeBetSlip)="closeBetSlipType($event)" (getBetCalc)="getBetCalcData($event)"></app-bet-slip>
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="toggle-2">
                        <ng-template ngbPanelHeader>
                            <button
                                class="MuiButtonBase-root right-side-accordion-summary css-1iji0d4 w-100 accordion-button"
                                ngbPanelToggle>
                                <div class="css-17o5nyn">
                                    <p class="MuiTypography-root MuiTypography-body1 css-1unqu1b">Open Bets (0)</p>
                                </div>
                            </button>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="MuiCollapse-root css-a0y2e3">
                                <app-open-bets></app-open-bets>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
    </div>
</div>