.matchodds-table-ctn .matchodds-table-content .MuiPaper-root .matchodds-table .MuiTableRow-root .risk-ctn {
    min-width: 180px;
    max-width: 100%;
    font-weight: 700;
    white-space: break-spaces;
    font-size: 13px;
    line-height: 15px;
    justify-content: space-between;
    padding-right: 4px;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    text-align: right;
}