<div class="mt-100">
    <div class="market-ctn">
        <div class="left-side-ctn">
            <div class="web-view">
                <div class="matchodds-table-ctn">
                    <div class="matchodds-table-content table-ctn">
                        <div class="MuiPaper-root css-13xy2my">
                            <table class="MuiTable-root matchodds-table css-1owb465">
                                <thead class="MuiTableHead-root css-1wbz3t9">
                                    <tr class="MuiTableRow-root MuiTableRow-head css-1gqug66">
                                        <th class="MuiTableCell-root MuiTableCell-head css-1bigob2" scope="col"
                                            colspan="3">
                                            <div class="market-name-cell-head-ctn">
                                                <div class="market">
                                                    <img src="../assets/img/inplay.540d59a5.svg" alt="inplay">Match Odds
                                                </div>
                                                <div class="limit">
                                                    <div class="limit-values">Min :100 <span> </span>Max :100000</div>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="MuiTableBody-root css-1xnox0e">
                                    <tr class="MuiTableRow-root tbody-header css-1gqug66">
                                        <td class="MuiTableCell-root MuiTableCell-body market-name-cell-head css-q34dxg">
                                            <div class="teamname-odd">Market</div>
                                        </td>
                                        <td class="MuiTableCell-root MuiTableCell-body css-1i36psw">
                                            <div class="back-odd">Back</div>
                                        </td>
                                        <td class="MuiTableCell-root MuiTableCell-body css-q34dxg">
                                            <div class="lay-odd">Lay</div>
                                        </td>
                                    </tr>
                                    <tr class="MuiTableRow-root css-1gqug66">
                                        <td class="MuiTableCell-root MuiTableCell-body css-q34dxg">
                                            <div class="team">Central Punjab</div>
                                            <div class="risk-ctn">
                                                <div></div>
                                                <div></div>
                                            </div>
                                        </td>
                                        <td class="MuiTableCell-root MuiTableCell-body odds-cell css-q34dxg">
                                            <div class="odds-block web-view back-odds-block">
                                                <div class="exch-odd-view">
                                                    <div class="back-odd exch-odd-button odd-change">
                                                        <div class="exch-odd-button-content">
                                                            <div class="price">130</div>
                                                            <div class="size">500.00</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="exch-odd-view">
                                                    <div class="back-odd exch-odd-button">
                                                        <div class="exch-odd-button-content">
                                                            <div class="price">120</div>
                                                            <div class="size">2.00K</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="exch-odd-view">
                                                    <div class="back-odd exch-odd-button">
                                                        <div class="exch-odd-button-content">
                                                            <div class="price">100</div>
                                                            <div class="size">22.80K</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="odds-block mob-view">
                                                <div class="exch-odd-view">
                                                    <div class="back-odd exch-odd-button odd-change">
                                                        <div class="exch-odd-button-content">
                                                            <div class="price">130</div>
                                                            <div class="size">500.00</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="MuiTableCell-root MuiTableCell-body odds-cell css-q34dxg">
                                            <div class="odds-block web-view">
                                                <div class="exch-odd-view">
                                                    <div class="lay-odd exch-odd-button">
                                                        <div class="exch-odd-button-content">
                                                            <div class="price">190</div>
                                                            <div class="size">300.00</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="exch-odd-view">
                                                    <div class="lay-odd exch-odd-button">
                                                        <div class="exch-odd-button-content">
                                                            <div class="price">220</div>
                                                            <div class="size">8.00K</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="exch-odd-view">
                                                    <div class="lay-odd exch-odd-button">
                                                        <div class="exch-odd-button-content">
                                                            <div class="price">270</div>
                                                            <div class="size">300.00</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="odds-block mob-view">
                                                <div class="exch-odd-view">
                                                    <div class="lay-odd exch-odd-button">
                                                        <div class="exch-odd-button-content">
                                                            <div class="price">190</div>
                                                            <div class="size">300.00</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="MuiTableRow-root css-1gqug66">
                                        <td class="MuiTableCell-root MuiTableCell-body css-q34dxg">
                                            <div class="team">Southern Punjab</div>
                                            <div class="risk-ctn">
                                                <div></div>
                                                <div></div>
                                            </div>
                                        </td>
                                        <td class="MuiTableCell-root MuiTableCell-body odds-cell css-q34dxg">
                                            <div class="odds-block web-view back-odds-block">
                                                <div class="exch-odd-view">
                                                    <div class="back-odd disabled exch-odd-button"><img
                                                            class="lock-icon" slot="icon-only"
                                                            src="../assets/img/Lock.32c76907.svg" alt="lock"></div>
                                                </div>
                                                <div class="exch-odd-view">
                                                    <div class="back-odd disabled exch-odd-button"><img
                                                            class="lock-icon" slot="icon-only"
                                                            src="../assets/img/Lock.32c76907.svg" alt="lock"></div>
                                                </div>
                                                <div class="exch-odd-view">
                                                    <div class="back-odd disabled exch-odd-button"><img
                                                            class="lock-icon" slot="icon-only"
                                                            src="../assets/img/Lock.32c76907.svg" alt="lock"></div>
                                                </div>
                                            </div>
                                            <div class="odds-block mob-view">
                                                <div class="exch-odd-view">
                                                    <div class="back-odd disabled exch-odd-button"><img
                                                            class="lock-icon" slot="icon-only"
                                                            src="../assets/img/Lock.32c76907.svg" alt="lock"></div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="MuiTableCell-root MuiTableCell-body odds-cell css-q34dxg">
                                            <div class="odds-block web-view">
                                                <div class="exch-odd-view">
                                                    <div class="lay-odd exch-odd-button odd-change">
                                                        <div class="exch-odd-button-content">
                                                            <div class="price">1.01</div>
                                                            <div class="size">2257.50K</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="exch-odd-view">
                                                    <div class="lay-odd exch-odd-button">
                                                        <div class="exch-odd-button-content">
                                                            <div class="price">1.02</div>
                                                            <div class="size">1401.10K</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="exch-odd-view">
                                                    <div class="lay-odd exch-odd-button">
                                                        <div class="exch-odd-button-content">
                                                            <div class="price">1.03</div>
                                                            <div class="size">1256.70K</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="odds-block mob-view">
                                                <div class="exch-odd-view">
                                                    <div class="lay-odd exch-odd-button odd-change">
                                                        <div class="exch-odd-button-content">
                                                            <div class="price">1.01</div>
                                                            <div class="size">2257.50K</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side-ctn">
            <div class="content-ctn">
                <ngb-accordion #acc="ngbAccordion" class="MuiPaper-root right-side-accordion css-67l5gl">
                    <ngb-panel id="toggle-1">
                        <ng-template ngbPanelHeader>
                            <button
                                class="MuiButtonBase-root right-side-accordion-summary css-1iji0d4 w-100 accordion-button"
                                ngbPanelToggle>
                                <div class="css-17o5nyn">
                                    <p class="MuiTypography-root MuiTypography-body1 css-1unqu1b">BET SLIP (0)</p>
                                </div>
                            </button>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="MuiCollapse-root css-a0y2e3">
                                <app-bet-slip></app-bet-slip>
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="toggle-2">
                        <ng-template ngbPanelHeader>
                            <button
                                class="MuiButtonBase-root right-side-accordion-summary css-1iji0d4 w-100 accordion-button"
                                ngbPanelToggle>
                                <div class="css-17o5nyn">
                                    <p class="MuiTypography-root MuiTypography-body1 css-1unqu1b">Open Bets (0)</p>
                                </div>
                            </button>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="MuiCollapse-root css-a0y2e3">
                                <app-open-bets></app-open-bets>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
    </div>
</div>