<div class="bl_register_main_container">
    <div class="bl_login_img_main_container">
        <div class="bl_login_img_container" style="background-image: url(../assets/img/all-app-background.6d3c0caa74b5d5e6acc0.jpg);"></div>
    </div>
    <div class="bl_register_content_main_container">
        <div class="bl_login_inner_content_container">
            <div class="bl_login_user_main_img_main_container">
                <div class="bl_login_user_img_container"><img src="../assets/img/login-user.png" alt="user login"></div>
            </div>
            <div class="bl_login_content_container">
                <h1 class="bl_register_title"><span>Account</span> Info</h1>
                <div class="bl_register_form_container">
                    <form novalidate="" action="#">
                        <div class="bl_register_input_container"><input type="text"></div>
                        <div class="bl_register_input_container"><input type="text"></div>
                        <div class="bl_register_input_container"><input type="text"></div>
                        <div class="bl_register_input_container"><input type="text"></div>
                        <div class="bl_register_input_container">
                            <button class="register_btn login_otp">
                                <a class="register_submit_btn ripple" [routerLink]="['/account-info']">Change Password</a>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>